{% extends "layout/default/template.html" %}
{% load aftore_extras %}

{% block content %}
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="container cards-container">
                    <div class="row">
                        {% for i in 8|get_range %}
                        <div class="col-md-4 card-container">
                            <div class="card">
                                <div class="namr">Rajesh Vaya</div>
                                <div class="title">Me building up a computer</div>
                                <div class="datetime">4 hours ago</div>
                                <hr/>
                                <div class="photos-container">
                                    <div class="photo">img1</div>
                                    <div class="photo">img2</div>
                                </div><!-- photos-container -->
                            </div><!-- card -->
                        </div><!-- card container -->
                        {% endfor %}
                    </div><!-- row -->
                </div><!-- container -->


                <div class="pagination-container">
                    <ul class="pagination pagination-centered">
                        {% if stories.has_previous %}
                            <li><a href="?{{get_parameters_without_page.urlencode}}&page=1"><<</a></li>
                            <li><a href="?{{get_parameters_without_page.urlencode}}&page={{ stories.previous_page_number }}"><</a></li>
                        {% endif %}
    
                        {% for i in paginator.page_range %}
                            <li {% if stories.number == i %} class="active" {% endif %}><a href="?{{get_parameters_without_page.urlencode}}&page={{i}}">{{i}}</a></li>
                        {% endfor %}

                        {% if stories.has_next %}
                            <li><a href="?{{get_parameters_without_page.urlencode}}&page={{ stories.next_page_number }}">></a></li>
                            <li><a href="?{{get_parameters_without_page.urlencode}}&page={{ stories.paginator.num_pages }}">>></a></li>
                        {% endif %}
                    </ul>
                </div><!-- pagination-container -->
            </div>
        </div>
    </div> <!-- container -->
{% endblock content %}

